# This file contains the environment variables for the application

# Application information

# Set the environment to development, testing, or production
ENVIRONMENT="development"
APP_HOST='0.0.0.0'
APP_PORT=8000

# Database information
POSTGRES_HOST="localhost"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="svlab"
POSTGRES_PORT=5435

POSTGRES_HOST_TEST="localhost"
POSTGRES_USER_TEST="postgres"
POSTGRES_PASSWORD_TEST="postgres"
POSTGRES_DB_TEST="svlab_test"
POSTGRES_PORT_TEST=5435

POSTGRES_ECHO="True"
POSTGRES_POOL_SIZE=5

# JWT information
SECRET_KEY="abc12345"
JWT_ALGORITHM="HS256"
