  version: "3.9"

  services:
    db:
      image: postgres:16
      restart: always
      volumes:
        - ./postgres/docker-entrypoint-initdb.d/:/docker-entrypoint-initdb.d/
        - pgdata:/var/lib/postgresql/data:cached
      env_file:
        - .env
      ports:
        - "${POSTGRES_PORT}:5432"
      environment:
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
        - POSTGRES_USER=${POSTGRES_USER?Variable not set}
        - POSTGRES_DB=${POSTGRES_DB?Variable not set}

  volumes:
    pgdata:
      driver: local

  networks:
    backend:
