a2wsgi==1.10.8
about-time==4.2.1
aiohttp==3.11.15
aioredis==2.0.1
alembic==1.15.2
apscheduler==3.11.0
argcomplete==3.6.1
asyncpg==0.30.0
black==25.1.0
cloudpickle==3.1.1
codecov==2.1.13
connexion==3.2.0
databases==0.9.0
dill==0.3.9
email-validator==2.2.0
emails==0.6
execnet==2.1.1
fastapi==0.115.12
flask-caching==2.3.1
flask-session==0.8.0
gunicorn==23.0.0
lazy-object-proxy==1.10.0
linkify-it-py==2.0.3
loguru==0.7.3
markdown==3.7
marshmallow-oneofschema==3.1.1
mdit-py-plugins==0.4.2
mlxtend==0.23.4
openpyxl==3.1.5
passlib==1.7.4
pendulum==3.0.0
polars==1.26.0
prometheus-fastapi-instrumentator==7.1.0
psutil==7.0.0
psycopg==3.2.6
psycopg-binary==3.2.6
psycopg2-binary==2.9.10
pydantic-settings==2.8.1
pyjwt==2.10.1
pytest-asyncio==0.26.0
pytest-mock==3.14.0
pytest-watch==4.2.0
python-daemon==3.1.2
python-jose==3.4.0
python-nvd3==0.16.0
rfc3339-validator==0.1.4
rich-argparse==1.7.0
sentry-sdk==2.25.1
setproctitle==1.3.5
sqlalchemy-jsonfield==1.0.2
sqlmodel==0.0.24
sqlparse==0.5.3
tenacity==9.0.0
timy==0.4.2
toml==0.10.2
unicodecsv==0.14.1
uvicorn==0.34.0
